@import url('https://fonts.googleapis.com/css?family=Rancho|Fira+Code');

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.page {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: #3B0066;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo {
    width: 100px;
    height: auto;
}
#logo_link {
    justify-self: center;
    align-self: center;
}
.header_nav_links {
    display: flex;
    justify-content: space-evenly;
}
.header_nav_links a {
    background-color: #3B0066;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 50px;
    text-decoration: none;
}
.header_nav_links a:hover {
    background-color: #FFFFFF;
    text-align: center;
    color: #3B0066;
    font-size: 1.5em;
    padding: 50px;
    border-radius: 50px;
    text-decoration: none;
}
#headline1 {
    background-color: #FFFEEB;
    margin-left: 25px;
    margin-right: 25px;
    border: 3px groove #3B0066;
    text-align: center;
    font-size: 2.5em;
    color: #0E2F0E;
    font-family: "Rancho", Georgia, "Times New Roman";
    padding: 10px;
}
#img_instruments {
    max-width: 600px;
    height: auto;
    float: right;
    margin-right: 25px;
    padding-left: 50px;
}
#img_music {
    max-width: 600px;
    height: auto;
    float: left;
    margin-top: -60px;
    margin-left: 25px;
    padding-right: 30px;
}
h2 {
    font-family: "Rancho", Georgia, "Times New Roman";
    color: #3B0066;
    font-size: 2em;
    margin-left: 25px;
    padding-top: 15px;
    margin-bottom: -15px;
}
p {
    font-family: "Fira Code", Verdana, Arial;
    color: #0E2F0E;
    font-size: 1.1em;
    text-indent: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
#component_buttons a {
    display: inline-block;
    background-color: #FFFEEB;
    color: #0E2F0E;
    font-size: 1.5em;
    padding: 10px;
    border: 1px solid #3B0066;
    border-radius: 10px;
    box-shadow: 0 10px lightgray;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 50px;
  } 
#component_buttons a:hover {
    border: 3px solid #3B0066;
  }
#component_buttons a:active {
    box-shadow: 0 3px darkgray;
    transform: translateY(5px);
}
footer {
    background-color: #3B0066;
    margin-top: 50px;
    padding: 25px;
}
#cr_text {
    color: #FFFFFF;
    font-size: 1em;
    margin-left: 25px;
}
#site-plan_link {
    background-color: #3B0066;
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 10px;
    margin-left: 25px;
    text-decoration: none;
}
#site-plan_link:hover {
    background-color: #FFFFFF;
    color: #3B0066;
    font-size: 1.5em;
    border-radius: 50px;
    text-decoration: none;
}
.footer_nav_links {
    display: flex;
    justify-content: flex-end;
}
.footer_nav_links a {
    background-color: #3B0066;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 25px;
    text-decoration: none;
    margin-top: -75px;
}
.footer_nav_links a:hover {
    background-color: #FFFFFF;
    text-align: center;
    color: #3B0066;
    font-size: 1.5em;
    padding: 25px;
    border-radius: 50px;
    text-decoration: none;
}